.no-favorites {
  text-align: center;
  font-size: 1.5rem;
  color: #aaaaaa;
  margin-top: 50px;
}
.grid-title {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.popup-message {
  position: absolute;
  bottom: -4%;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  background-color: #0000007a;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.popup-message.fade-out {
  opacity: 0;
}
